/* footer section */


.fa{
    font-size:2em !important;
}

footer .fa .fa-twitter{
    color:rgb(2, 151, 250);
}

footer .fa .fa-instagram{
    color:rgb(250, 2, 97);
}

footer .footer-text{
    margin-top:20px;
    text-align: center;
}


.about-section{
    padding-top:40px !important;

}

.about-section h2{
    color:#fff;
    text-shadow: 3px 2px 10px rgba(0, 0, 0, 0.95);

}
.about-section p{
    color:#fff;
    text-shadow: 3px 2px 10px rgba(0, 0, 0, 0.95);
}

.navbar{
   border-bottom:none;
}
.navbar-default .navbar-brand{
    color: #fff !important;
    letter-spacing:4px;
    font-size:3em;
    font-weight: bold;
}
.navbar-default .navbar-nav li a {
    color: #fff;
    font-weight: lighter;
    font-size:2em;
    font-weight: bold;
}

.navbar-default .navbar-nav li a:hover {
    text-shadow: 3px 2px 10px rgba(0, 0, 0, 0.95);
    color:#fff;
}
