/* footer section */


.fa{
    font-size:2em !important;
}

footer .fa .fa-twitter{
    color:rgb(2, 151, 250);
}

footer .fa .fa-instagram{
    color:rgb(250, 2, 97);
}

footer .footer-text{
    margin-top:20px;
    text-align: center;
}

.about-section{
    padding-top:40px !important;
}

.about-section h2{
    color:#000;
    font-size:5em;
}
.about-section p{
    color:#000;
}
