<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="John Williams Artist provides a varied selection of contemporary Scottish landscape paintings for sale. I also offer seascape oil paintings on linen and skyscape art">
    <meta name="author" content="">
    <title>{{ page.title }} | John Williams Artist - Contemporary Scottish Landscape Paintings, Oil Paintings</title>
    <link rel="icon" href="site-icon-final.png" sizes="16x16" type="image/png">
    <script src="https://use.fontawesome.com/6d6243217d.js"></script>
    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link href="etc/scrolling-nav.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<body id="page-top" data-spy="scroll" data-target="#top-page">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="height:40px; padding:0px 0; font-size:10px" id="top-page">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top" style="font-size:20px;">John Williams Artist</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav pull-right">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <!-- <li>
                        <a class="page-scroll" href="#gallery" style="font-size:16px;">Recent Paintings</a>
                    </li> -->
                    <li>
                        <a class="page-scroll" href="/jekyll_template/#about" style="font-size:14px;">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/gallery.html" style="font-size:14px;">Recent Paintings</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/postcards.html" style="font-size:14px;">Watercolour Postcards (A5)</a>

                    </li>
                    <li>
                        <a class="page-scroll" href="/contact.html" style="font-size:14px;">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

{{ content }}

    <footer>
        <div class="container">
            <div class="row footer-text">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; John Williams Artist 2017</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                            <a href="https://twitter.com/JhnWllmsArtist" target="_blank"> <li class="fa fa-twitter"></li></i></a>

                        <a href="https://www.instagram.com/johnwilliamsartist/" target="_blank"><i class="fa fa-instagram"></i></a>

                    </ul>
                </div>
                 <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a class="page-scroll" href="#page-top">Back to top</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="http://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Scrolling Nav JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/etc/scrolling-nav.js"></script>

</body>

</html>
